@import "../styles/variables";
@import "../styles/mixins";

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  text-align: left;
  position: relative;
  padding-top: 160px;
  width: 100%;
  height: 100vh;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  z-index: 1;
  padding: 40px 74px;
  width: 100%;
  max-width: 800px;
  border-radius: 36.573px;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: linear-gradient(281deg, #ee5c1f -75.53%, #361b5d 103.47%);
    filter: blur(75px);
    border-radius: 36.573px;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #131b26;
    border-radius: 36.573px;
    z-index: -1;
  }
}

.heading {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "dlig" on;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
}
.subheading {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "dlig" on;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  padding-top: 12px;
  margin-bottom: 40px;
}
.form {
  margin: 0 auto;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.row {
  display: flex;
  gap: 1rem;
  .form input {
    flex: 1;
  }
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  color: #fff;
  font-feature-settings: "dlig" on;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
  text-align: left;
}

.form select {
  outline: 0;
  border: 0;
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background-color: #131b26;
  font-family: var(--font-source-sans-pro), sans-serif;
  width: 100%;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "dlig" on;
  font-style: normal;
  text-transform: lowercase;
  &::placeholder {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: "dlig" on;
    font-family: var(--font-source-sans-pro), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: capitalize;
  }

  &:focus {
    border-bottom-color: #ee5c1f;
  }
}

.form input,
.form textarea {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  outline: none;
  transition: border-bottom 0.2s;
  font-family: var(--font-source-sans-pro), sans-serif;
  resize: none;
  width: 100%;
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "dlig" on;
  font-style: normal;
  text-transform: lowercase;

  &::placeholder {
    color: #fff;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: "dlig" on;
    font-family: var(--font-source-sans-pro), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: capitalize;
  }

  &:focus {
    border-bottom-color: #ee5c1f;
  }
}
.form .submitBtn {
  background: linear-gradient(
    281deg,
    rgba(238, 92, 31, 0.2) -75.53%,
    rgba(54, 27, 93, 0.2) 103.47%
  );
  border: 2px solid #ee5c1f;
  color: #f8f8fa;
  border-radius: 12px;
  padding: 16px 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.6s, color 0.2s;
  font-family: var(--font-source-sans-pro), sans-serif;
  width: 300px;
  margin: 24px auto 0;

  &:hover {
    background: linear-gradient(281deg, #ee5c1f -75.53%, #361b5d 103.47%);
    color: #f8f8fa;
  }
}
.thankyou {
  margin-top: 1rem;
  color: $color-accent;
  font-weight: 600;
}
@media (max-width: 980px) {
  .contactForm {
    padding-top: 0px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .card {
    padding: 36px;
    margin: 20px;
  }
  .heading {
    font-size: 1.25rem;
  }
  .row {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.form textarea {
  height: 24px;
}
