@import "../styles/variables";
@import "../styles/mixins";

.coreOfferings {
  color: $color-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container {
  width: 100%;
}

.textSection {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-feature-settings: "dlig" on;
  font-family: var(--font-poppins), Poppins, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
  background: linear-gradient(87deg, #f8aa0b -5.61%, #ee5c1f 100.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0 0 12px 0;
}

.cardsSection {
  flex: 1;
  position: relative;
  min-height: 62vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cardsContainer {
  width: 100%;
  border-radius: 16px;
  background-color: transparent;
  height: 62vh;
  padding-bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  // Hide scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  gap: 200px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cardWrapper {
  position: sticky;
  top: 16px;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;

  // Different shadow colors for each card wrapper
  &:nth-child(1) {
    filter: drop-shadow(0px 0px 10px #1f014b);
  }

  &:nth-child(2) {
    filter: drop-shadow(0px 0px 10px #f8aa0b);
  }

  &:nth-child(3) {
    filter: drop-shadow(0px 0px 10px #1f014b);
  }

  &:nth-child(4) {
    filter: drop-shadow(0px 0px 10px #f06d36);
  }
}

// Responsive design
@media (max-width: 980px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .textSection {
    position: relative;
    min-height: auto;
    padding: 1.5rem 0;
  }

  .heading {
    font-size: 32px;
  }

  .cardWrapper {
    width: 100%;
    max-width: 298px;
    height: 234px;
  }

  .cardsContainer {
    padding-bottom: 336px;
    height: 64vh;
  }

  .cardsSection {
    height: 64vh;
  }
}

