@import "../styles/variables";
@import "../styles/mixins";

.footer {
  height: 100vh;
  color: $color-white;
  font-size: $font-xs;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 100px;
}

.footerContent {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
}

.logoSection {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.logoBlock {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.logoImage {
  width: 157.748px;
  height: 108.47px;
}

.brandText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}

.mizraText {
  width: 178.015px;
  height: 53.544px;
}

.consultingText {
  color: #fff;
  font-family: var(--font-poppins), sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 2.558px;
  display: flex;
  align-items: center;
}

.tagline {
  color: #f8f8fa;
  font-feature-settings: "dlig" on;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
  text-align: center;
  max-width: 358px;
  margin: 0 auto;
  opacity: 0.5;
}

.navigationSection {
  display: flex;
  gap: 4rem;
  align-items: flex-end;
}

.navColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navTitle {
  color: #fff;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.navLink {
  color: #fff;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $color-primary;
  }
}

.divider {
  height: 1px;
  margin: 0 40px;
  padding: 48px 0;
  border-bottom: 1px solid #f8f8fa50;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 48px 40px;
  flex-wrap: wrap;
  gap: 1rem;
}

.legalLinks {
  display: flex;
  gap: 48px;

  a {
    color: #fff;
    font-family: var(--font-source-sans-pro), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $color-primary;
    }
  }
}

.copyright {
  color: #fff;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.6px;
  text-transform: capitalize;
}

@media (max-width: 980px) {
  .footer {
    margin-bottom: 1rem;
  }
  .footerContent {
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }

  .logoBlock {
    gap: 1rem;
    text-align: center;
  }

  .navigationSection {
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }

  .legalLinks a,
  .copyright,
  .navLink {
    font-size: 12px;
    line-height: 14px;
  }
  .navTitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;
  }
  .logoSection {
    .brandText {
      gap: 0;
    }
    .logoImage {
      width: 102px;
      height: 70px;
    }

    .mizraText {
      width: 114px;
    }
    .consultingText {
      font-size: 16px;
      line-height: 16px;
    }
    max-width: 230px;
    gap: 20px;
  }
  .tagline {
    font-size: 11px;
    line-height: 12px;
  }
  .copyright {
    margin-top: 24px;
  }
  .bottomRow {
    padding-top: 24px;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .navColumn{
    align-items: center;
    gap: 12px;
  }
}
