@import '../styles/variables';
@import '../styles/mixins';

.hero {

  @media (max-width: 600px) {
    padding: 2rem 0.5rem;
  }

  justify-content: space-between;
  text-align: center;
  color: $color-white;
  padding-top: 160px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  background: linear-gradient(100deg, #F8AA0B 5.13%, #EE5C1F 136.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-feature-settings: 'dlig' on;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
}

.headlineContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.headline {
  color: #F8AA0B;
  text-align: center;
  font-feature-settings: 'dlig' on;
  font-family: var(--font-poppins), sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.startHereImage {
  position: absolute;
  right: -80px;
  transform: none;
  top: -35px;
}

.subheadline {
  color: #F8F8FA;
  font-feature-settings: 'dlig' on;
  font-family: var(--font-poppins), sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
}

.description {
  color: #F8F8FA;
  text-align: center;
  font-family: var(--font-source-sans-pro), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.ctas {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.marqueeContainer {
  overflow: hidden;
  width: 100%;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}

.marquee span {
  font-feature-settings: 'dlig' on;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #4C346F;
  font-family: var(--font-poppins), sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: transparent;
  margin-right: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .subtitle {
    background: linear-gradient(101deg, #F8AA0B -3.48%, #EE5C1F 102.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-feature-settings: 'dlig' on;
    font-family: var(--font-source-sans-pro), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .headline {
    color: #F8AA0B;
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: var(--font-poppins), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
  }

  .startHereImage {
    position: static;
    transform: none;
  }

  .ctas {
    flex-direction: column;
    gap: 1rem;
  }

  .marquee span {
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
  }
}